* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  /* leading-trim: NONE; */
  line-height: 24px;
  letter-spacing: 2%;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  font-family: inherit;
}
.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: none;
}
.header-address {
  display: none;
}
.web {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
  display: flex;
}
.contact-box {
  display: flex;
  gap: 40px;
}
.title-container {
  padding: 72px 52px;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/people-office\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f42 70%;
  background-position: center;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.title-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: white;
  margin: 0 auto;
}

.advantages-section {
  padding: 96px 16px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.image-box {
  /* border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px; */
  display: none;
}
.icon {
  width: 64px;
  height: 64px;
}
.advantages-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  color: #434455;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.team-section {
  padding-left: 28px;
  padding-right: 28px;
  background-color: #f4f4fd;
}
.team-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-list:last-child {
  padding-bottom: 96px;
}
.team-item {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-text {
  margin-bottom: 8px;
}
.team-name-box {
  padding: 16px 32px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}

.portfolio-section {
  padding: 16px;
}
.portfolio-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.portfolio-box {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 288px;
  height: 120px;
  background-size: cover;
}

.portfolio-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  padding: 96px 16px;
  background-color: #2e2f42;
}
.footer-link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-peace {
  color: #f4f4fd;
}
.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
  justify-content: center;
  align-items: center;
}
.footer-media-box {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-media-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}
.links-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.subscribe-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sub-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.sub-input {
  font-family: inherit;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  opacity: 0.3;
  margin-bottom: 16px;
}
.sub-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}
.sub-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.sub-button-box {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.icon-send {
  fill: #fff;
  stroke: #fff;
}
.modal-overlay {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/people-office\ 1.png);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/people-office\ 1.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  border-radius: 4px;
  width: 408px;
  height: 577px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 24px;
  padding-top: 65px;
}

.form-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input-box {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: relative;
}
.form-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-input {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.form-textarea {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  width: 360px;
  height: 120px;
  margin-bottom: 16px;
}
.accept {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}
.accept-span {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 37px;
  transform: translateY(-50%);
}
.checkbox {
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  fill: #fff;
}
.policy-box {
  display: flex;
  gap: 8px;
}
.menu-icon {
  fill: #2f2f37;
  stroke: #2f2f37;
}
.is-open-menu {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;
}
.menu {
  width: 100%;
  height: 100%;
  background-color: #f4f4fd;
  position: fixed;
  top: 0;
  padding-left: 16px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.menu-btn {
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.nav {
  margin-bottom: 168px;
}
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 72px;
}
.nav-item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contact-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.contact-box a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.menu-links-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .header {
    gap: 120px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-logo {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    display: flex;
    gap: 40px;
  }
  .header-address {
    display: block;
  }
  .header-item-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .title {
    font-size: 56px;
    line-height: 107%;
  }
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .team-section {
    padding-left: 108px;
    padding-right: 108px;
  }
  .team-list {
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .portfolio-item {
    width: calc((100% - 72px) / 2);
    flex-grow: 1;
  }
  .portfolio-box {
    border-right: none;
    width: 100%;
    height: 100%;
  }
  .footer {
    padding: 96px 108px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: row;
  }
  .footer-box {
    width: 264px;
    height: 112px;
  }
  .footer-media-box {
    width: 208px;
    height: 80px;
  }
  .subscribe-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .sub-form {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .input-footer-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer-box {
    margin-bottom: 0;
  }
  .footer-media-box {
    margin-bottom: 0;
  }
  .sub-input {
    margin-bottom: 0;
  }
  .sub-text {
    text-align: left;
  }
}
